
<div class="login-wrap">
    <div *ngIf="!name" class="user-menu" >
        <span> write a stroy </span> 
        <span (click)="onSign()" class="here"> Sign in / Sign Up </span>
        <i class="material-icons">search</i>
    </div>
    <div *ngIf="name" class="user-menu" >
        <span class="here"> write a stroy </span> 
        <i class="material-icons">search</i>
        <i class="material-icons">notifications_none</i>
        <i class="material-icons">account_circle</i>
    </div>
    
</div>