
<div class="filter">
  <span [class.active]="selectedFilter === 'name'"> 제품 이름(ABC순) </span>
  <span> 브랜드(ABC순) </span>
</div>



<div id="cup-container">
  
  <!-- ngclass ver
  <div class="cup"
    *ngFor="let cup of cups | async; let i = index;"
    [ngClass]="getAnimationByIndex(i)"
    (click)="gotoDetail(cup)">
      <img src="assets/img/test_2d.png" />
      <p>{{cup.name}}</p>
  </div>
  -->

  <div class="cup"
    *ngFor="let cup of cups | async"
    (click)="gotoDetail(cup)">
      <img src={{cup.imgUrls}} />

      <p>{{cup.name}}</p>
  </div>
</div>

