@charset "utf-8";

@import '../../../../assets/_globals';



.relative-container {
    
    @include size(100%, auto);
    @include flex(flex, row nowrap);
    @include border-radius(4px);
    justify-content: space-around;
    


    .related-item {
        @include size(30%, 200px);
        @include flex(flex, column nowrap);
        justify-content: stretch;
        align-items: center;
        
        
        background-size: cover;
        background-repeat: no-repeat;

        p { 
            font-size: 20px;
            font-weight: 700;
            padding-top:50%;
        }

        background-color: white;
    }
}
