<p class="sub-title">Relative Content</p>
<section class="relative-container">
    


    <div class="related-item"
      [ngStyle]="{'background-image': 'url(assets/img/test_2d.png)'}"
      (click)="gotoDetail(index.prev)">
        <p class="info">{{ (prevCup | async)?.name }} {{ (prevCup | async)?.size_eng }}  </p>
    </div>
    
    <div class="related-item selectedItem"
      [ngStyle]="{'background-image': 'url(assets/img/test_2d.png)'}">
        <p class="info">{{ (currentCup | async)?.name }} {{ (currentCup | async)?.size_eng }}  </p>
        <p class="currentItem">(현재 위치)</p>
    </div>
    <div class="related-item"
      [ngStyle]="{'background-image': 'url(assets/img/test_2d.png)'}"
      (click)="gotoDetail(index.next)">
        <p class="info">{{ (nextCup | async)?.name }} {{ (nextCup | async)?.size_eng }}  </p>
    </div>


</section>
